<div class="control-group">
  <form action='/teams' method="post">
    <div class="controls">
      <label class='control-label'>Team Name</label>
      <input type='text' name="team" value="" />
    <div class="controls">
      <label class='control-label'>Game Pin</label>
      <input type='text' name="game_pin" value="" />
      <p>(provided at establishment)</p>
    </div><!-- controls -->
    <input type='submit' value='Join Game', class = 'btn btn-success' />
  </form>
</div>

