<div class="control-group">
  <form action='/teams' method="post">
    <div class="controls">
      Team Name<input type='text' name="team_name" value="" />
    <div class="controls">
      Game Pin <input type='integer' name="game_pin" value="" />
    </div><!-- controls -->
      <input type='submit' value='Join Game' />
  </form>
</div>

