<div class="hero-unit text-center">
  <%=image_tag "logo.png"%>
  <p>The easiest way to play trivia with your friends and patrons!</p>
  <p>
    <% if current_user %>
      <%= link_to "Host Trivia Game!", new_game_path, class: "btn btn-primary btn-small", id: "new_game_btn" %>
    <% else %>
      <%= link_to "Want to Host a Game?", new_user_path, class: "btn btn-primary btn-small", :error => "bahahaha" %>
    <% end %>

    <%= render :partial => 'form' %>

  </p>
</div>

