<div class="hero-unit">
  <h1>Welcome to Brews&Q's!</h1>
  <p>The easiest way to play trivia with your friends and patrons!</p>
  <p>
    <%= link_to "Create A New Game!", new_game_path, class: "btn btn-primary btn-large" %>
  </p>
</div>

<ul class="thumbnails">
  <li class="span4">
    <div class="thumbnail">
      <img data-src="holder.js/300x200" alt="">
      <h3>Multiple Trivia Categories</h3>
      <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
    </div>
  </li>
  <li class="span4">
    <div class="thumbnail">
      <img data-src="holder.js/300x200" alt="">
      <h3>In Game Chat</h3>
      <p>Etiam porta sem malesuada magna mollis euismod.</p>
    </div>
  </li>
  <li class="span4">
    <div class="thumbnail">
      <img data-src="holder.js/300x200" alt="">
      <h3>Big Screen Functionality</h3>
      <p>Donec id elit non mi porta gravida at eget metus.</p>
    </div>
  </li>
</ul>
