  
  <p style='font-size:18 px'>
    <b>Question :</b> <%= @question.text %>
    <br />
    <br />
    <b>Your Answer :</b> <%= @submission.content %>
  </p>
    <h2><%= @fuzzy_response %></h2>
    

    <%# @submission.answer_setter %>
<%= link_to 'Back To Game', game_path(session[:game_id]) %>
